*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    box-sizing:border-box;
    line-height: 1.6rem;
}
body{
    background-color: #ecf0f5;
}
:root{
    --primary-color: rgb(9, 112, 185);
    --third-color: #292868;
    --primary-bc: rgb(220, 237, 249);
    --text-color: #4d4d4d;
    --secondary-color: #FF9052;
    --high-color:#9fc43a;
}

.primary-text{
    color: var(--primary-color);
    display: inline;
}
.text-center{
    text-align: center;
}
.clear{
    clear: both;
}
.background-black{
    background-color: #000;
}
.text-underline{
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--text-color)
}

/* Header */
.header{
    position:fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right:0;
    left:0;
    background-color: #fff;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.header__bar{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    transform: translateY(-12%);
}
.header__nav-list{
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}
.header__nav-item{
    display: inline-block;
    margin: 0 24px;
    transition: all 0.5s ease 0s;
}
.header__nav-item:nth-child(2), .header__nav-item:first-child{
    min-width: 75px;
}
.header__nav-item:nth-child(4){
    min-width: 51px;
}
.header__nav-link{
    max-width: 100%;
    line-height: 60px;
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
}

.header__nav-link--active{
    color: var(--primary-color);
    font-weight: 600;

}
.header__nav-item:hover .header__nav-link{
    color: var(--primary-color);    
    font-weight: 600;

}
.header__account{
    float: right;
    position: relative;
    cursor: pointer;
}
.header__account-avt{
    width: 25px;
    height: 25px;
    display:inline-block;
    border-radius: 50%;
    margin-right: 8px;
    transform: translateY(-2px);
}
.header__account-title{
    display: inline-block;
    line-height: 60px;
    font-size: 1.6rem;
    margin: 0;
}
.header__account-down{
    margin-left: 4px;
    font-size: 1.3rem;
    color: #000
}
.header__account.active > i{
    transform: rotate(180deg);
}
.header__account.active .header__account-list{
    display: block;
}
.header__account-list{
    list-style-type: none;
    display: none;
    width: 190px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: -10px;
    padding: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease ;
    overflow: hidden;
}
@keyframes fadeIn{
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity:  1;
        height: 126px;
    }
}
.header__account-item:hover a,
.header__account-item:hover i{
    transition: all 0.5s ease;
}
.header__account-item:hover a,
.header__account-item:hover i {
    color: var(--primary-color);
}
.header__account-item{
    padding: 12px 12px ;
}
.header__account-item a,
.header__account-icon
{
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
}
.header__account-icon{
    margin-right: 4px;
}
.banner{
    position: relative;
    margin-top: 45px;
    height: 425px;
    background: url('./img/slider.jpg')  center /cover no-repeat;

}

/*Search box */
.search-box{
    position: absolute;
    bottom: -60px;
    left: 50%;
    margin-left: -455px;
    width: 910px;
    height: 120px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-box__content{
    position: relative;
    height: 100%;
    width: 32%;
    float:left;
    display: flex;
    align-items: center;
}

.search-box__reccommend{
    display: none;
    z-index: 4;
    width: 530px;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search-box__reccommend h1{
    font-size: 2rem;
    color: var(--primary-color);
    padding: 0 16px;
}
.search-box__reccommend-box{
    margin: 0 ;
}
.search-box__location{
    padding: 12px ;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.search-box__location:hover{
    background-color: #d0eafd;
}
.search-box__location img{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 4px;
}
.search-box__location span{
    color: var(--text-color);
    font-size: 1.4rem;
}
.search-box__content:nth-child(1){
   padding-left: 35px;
}
.search-box__content:nth-child(2){
    padding-right: 20px;
 }
.search-box__content:first-child::after{
    content: "";
    border: 1px #e5e2e2 solid;
    height: 50%;
}
.search-box__border{
    position: absolute;
    right: 53px;
    top: 30px;
    width: 20px;
    height: 50%;
    border-right: 2px solid #e5e2e2;
}
.search-box__icon{
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-right: 16px;
}

.search-box__title{
    font-size: 2rem;
    margin-bottom: 10px;
}

.search-box__input{
    font-size: 1.5rem;
    border: none;
    outline: none
}
.search-box__input--date{
    cursor: pointer;
    border: unset;
    color: var(--text-color);
}
.search-box__select{
    color: var(--text-color);
    font-size: 1.4rem;
    width: 120px;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-box__select option{
    font-size: 1.4rem;
    border-radius: unset;
    padding: 4px 0;
}
.search-box__btn{
    background-color: var(--primary-color);
    position: absolute;
    top: 35px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.search-box__btn:hover{
    opacity: 0.7;
}
.search-box__btn i{
    content: "\f002";
    font-size: 2.4rem;
    color: #fff;
    line-height: 50px;
}

.section{
    width: 1100px;
    margin: 0 auto;
}


/* Section */
.section-1{
    margin-top: 130px;
}
.section-heading{
    color: var(--third-color);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 12px;
}
.service-list{
    margin-top: 60px;
    text-align: center;
    display
}
.service-title{
    font-size: 1.7rem;
    color: var(--third-color);
    margin-top: 24px;
}
.service-desc{
    font-size: 1.3rem;
    margin-top: 8px;
    padding: 0 32px;
} 


/* Section 2 */
.section-2{
    margin-top: 80px;
}
.tour-list{
    margin-top: 0;
}
.tour-item{
    padding: 0 14px;
    margin: 20px auto 16px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.tour-item:hover{
    transform: scale(1.05);
}
.tour-item:hover .tour-content{
    box-shadow: 0 5px 10px rgba(9, 112, 185, 0.3);
}
.tour-item__img{
    width: 100%;
    height: 212px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.tour-item__box{
    text-decoration: none;
}
/* .tour-item__box:hover .tour-content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.tour-content{
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 16px 16px;
    transition: all 0.5s ease;
}
.tour-content__desc{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
.tour-desc__location i, .tour-desc__time i, .tour-desc__id span, .tour-desc__transport i{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 4px;
}
.tour-desc__id, 
 .tour-desc__location span, .tour-desc__time span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.tour-desc__transport i{
    margin-right: 4px;
}

.tour-content__heading{
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: var(--third-color);
    font-size: 1.8rem;
    font-weight: 600;
    height: 70px;
    line-height: 1.3;
    display: -webkit-box;
    margin: 12px 0 0px;
    text-decoration: none;
}
.tour-content__price{
    color: var(text-color);
    font-size: 1.4rem;
    margin: 12px 0 0;
    text-align: right;
}
.tour-content__price span{
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
}
.more-btn{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: block;
    width: 85px;
    margin: 16px auto 0;
    font-size: 1.3rem; 
    background-color: #fff; 
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 0.5s;
}
.more-btn:hover{
    color: #fff;
    background-color: var(--primary-color);
}


/* Section 3 */
.section-3{
    background-color: #000;
}
.section-3 video{
    display: block;
    margin: 80px auto 0;
}


/* Section - 4 */
.section-4{
    margin-top: 52px;
}
.section-4__row{
    margin-top: 52px;
    display: grid;
    grid-auto-rows: 250px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(1fr);
}
.section-4__tour-item{
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.section-4__tour-item img{
    width: 100%;
    height: 100%; 
    border-radius: 8px;
    filter:brightness(0.8);
    transition: all 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-4__tour-item:hover img{
    filter: brightness(1);
}
.section-4__tour-item: :first-child {
    grid-column: 1/2;
}
.section-4__tour-item:nth-child(2) {
    grid-column: 2/4;
}
.section-4__tour-item:nth-child(3){
    grid-column: 1/3;
}
.section-4__tour-item:last-child {
    grid-column: 3/4;
}
.section-4__tour-content{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 24px;
}
.section-4__tour-title{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.section-4__tour-quantity{
    color: #fff;
    font-size: 1.6rem;
    margin: 0;
}

/* Section-5 */
.section-5{
    margin-top: 80px;
}
.section-5 img{
    width: 100%;
    height: 300px
}

/* Section-6 */
.section-6{
    margin-top: 80px;
}
.section-6__list{
    margin-top: 32px;
}
.section-6-item{
    text-decoration: none;
    padding: 16px;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}
.section-6-item:hover{
    transform: scale(1.05);
}
.section-6__img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.section-6__content{
    background-color: #fff;
    color: var(--text-color);   
    padding: 16px 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-6__info{
    font-size: 1.3rem;
    margin-bottom: 8px;
}
.section-6__cate{
    color: var(--primary-color);
}
.section-6__cate::after{
    content: "";
    border-right: solid 1px #999898;
    margin: 0 6px;
}
.section-6__date{

}
.section-6__heading{
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 600;
    font-size: 2rem;
    color: var(--third-color);
    margin: 0 0 8px;
    text-align: justify;
}
.section-6__desc{
    color: var(--text-color);
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2rem;
}


/* Email Section */
.email-section{
    margin-top: 80px;
    background: url('./img/Huáº¿.png') center /cover no-repeat ;
    position: relative;
    height: 350px   ;
}
.email-section__img{
    width: 100%;
}
.email-section__content{
    z-index: 3;
    position: absolute;
    top: 54%;
    left: 50%;
    margin-top: -6%;
    margin-left: -20%;
}
.email-section__heading{
    color: #fff;
    font-size: 4.4rem;
    text-align: center;
    font-weight: 600;
    margin: 0;
}
.email-section__message{
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 8px;
}
.email-section__input{
    margin: 40px auto;
    display: block;
    padding: 16px 20px;
    width: 520px;
    font-size: 1.6rem;
    outline: none;
    position: relative;
    border-radius: 8px;
    border: none;
}
.email-section__btn{
    padding: 16px 20px;
    position: absolute;
    right: 44px;
    top: 120px;
    border: none;
    background-color: #238CD9;
    color: #fff;
    font-size: 1.6rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0.8;
}
.email-section__btn:hover{
    opacity: 1;
}

/* Footer */
.footer{
    min-height: 424px;
    background-color: #282828;
}
.footer-content{
    width: 1100px;
    min-height: 220px;
    margin: 0 auto;
    transform: translateY(60px);
}

.footer__page-desc{
    font-size: 1.5rem;
    color: #dfdfdf;
    margin-top: 20px;
}
.footer__social i{
    color: #dfdfdf;
    font-size: 2.4rem;
    padding-right: 8px;
    margin-top: 8px;
}
.footer__about-us{
    padding-left: 40px;
}
.footer__list{
    font-size: 1.6rem;
    font-weight: 700;
    color: #dfdfdf;
}
.footer__item{
    margin-top: 20px;
}
.footer__contact{
    display: flex;
    align-items: center;
}
.footer__icon,.footer__item-text,.footer__contact-text{
    color: #dfdfdf;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 8px;
    display: inline-block;
}
.footer__icon{
    padding-right: 12px;
}
.footer__copyright{
    font-size: 1.2rem;
    padding: 20px 0;
    color: #dfdfdf;
    text-align: center;
    transform: translateY(100px);
    border-top: 1px solid #ccc;
    margin-top: 16px;
}

