
/* Breadcum */
.breadcum{
    margin-top: 77px;
    width: 1100px;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 4px;
}

.breadcum__icon{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 8px;
}
.breadcum__link{
    line-height: 48px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
}

/*** Order-section ***/
/* Tour Info */
.order-section{
    width: 1100px;
    /* min-height: 900px; */
    margin: 0 auto 64px;
}
.order-section__heading{
    transform: translateY(-4px);
    font-size: 3.2rem;
    color: var(--third-color);
    margin: 0 0 12px;
}
.order-section-list{
    display: inline-block;
}
.tour-info-box{
    display: flex;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
}
.tour-info__img{
    margin-right: 12px;
    border-radius: 4px;
    width: 170px;
}
.tour-info__content{
    display: inline-block;
    padding: 0 10px 0 0;
}
.tour-info__title{
    margin: 0;
    color: var(--primary-color);
}
.tour-info__desc{
    display: flex;
    justify-content: space-between;
}
.tour-info__desc-detail{
    font-size: 1.3rem;
    color: var(--text-color);
}
.tour-info__desct-detail i{
    margin-right: 4px;
}
.tour-info__depart{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}
.tour-info__depart:last-child{
    /* margin-top: 8px; */margin: 0;
}

.tour-info__depart > span{
    font-size: 1.5rem;
    padding: 0;
}
.tour-info__person{
    font-size: 1.5rem;
    margin-top: 12px;
}
.tour-info__person > span{
    padding: 0;
}
/* .tour-info__person span:first-child{
    margin-right: 32px;
} */
.tour-info__quantity{
    color: #fff;
    background-color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 4px;
}
.tour-info__price{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.tour-info__price-label{
    font-size: 1.6rem;
    margin: 0;
    color: var(--text-color);
}
.tour-info__price-detail{
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 0;
}
.tour-info__price-detail p{
    margin-bottom: 6px;
}
.tour-info__price-number{
    color: #fff;
    background-color: var(--secondary-color);
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 600;
}

/*Form thông tin */
.tour-order{
    border-radius: 8px;
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}
.tour-order__heading{
    font-size: 2.4rem;
    color: var(--primary-color);
    margin: 0 0 16px;
    font-weight: 600;
}
.tour-order__info{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px ;
}

.tour-order .tour-order__info:nth-child(3){
    width: calc(50% - 12px);
    margin-right: 8px;
}
.tour-order .tour-order__info:nth-child(4){
    width: calc(50% - 8px);
    margin-left: 8px;
}
.tour-order__label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 4px;
}
.tour-order__note{
    color: red;
    font-size: 1.2rem;
    font-style: italic;
}
.tour-order__two{
    padding: 0;
    width: 100%;
}

.tour-order__input{
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 16px;
}
.tour-order__textarea{
    height: 80px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 4px 12px;
}
.tour-order__submit{
    float: right;
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.tour-order__submit:hover{
    opacity: 0.8;
}


