
/* Breadcum */
.breadcum{
    width: 1100px;
    height: 48px;
    margin-left: auto;
    padding-left: 12px;
}

.breadcum__icon{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-right: 4px;
}
.breadcum__link{
    line-height: 48px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
}



/*Tour Section*/
.tour-section{
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 120px;
}

.tour-filter__box{
    margin-top: 8px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tour-filter__title{
    color: var(--third-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 12px 16px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}
.tour-filter__list{
    list-style-type: none;
    padding: 0;
}
.tour-filter__item{
    padding: 12px 16px;
}
.tour-filter__item:last-child:hover
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.tour-filter__item.active button
{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5rem;
}
.tour-filter__item:not(.active):hover{
    cursor: pointer;
    background-color: rgb(220, 237, 249);
    color: var(--primary-color);
}
.tour-filter__item:not(.active):hover button
{
    background-color: rgb(220, 237, 249);
    color: var(--primary-color);
}
.tour-filter__link{
    font-size: 1.4rem;
    border: none;
    background-color: #fff;
    text-decoration: none;
    color: #181818;
}


/*Tour list */
.tour-list__heading{
    color: var(--third-color);
    padding-left: 8px;
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0;
}
.tour-sort{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}
.tour-sort__title{
    font-size: 1.5rem;
}
.tour-sort__price,
.tour-sort__cate {
    cursor: pointer;
    border-radius: 4px;
    margin-left: 12px;
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}
.tour-sort__price{
    position: relative;
    width: 171px;

}
.tour-sort__price i{
    margin-left:100px;
    font-size: 1.5rem;
}
.tour-sort__cate.active{
    background-color: var(--primary-color);
    color: #fff;
}
.tour-sort__price.active .tour-sort__price-box{
    display: block;
}
.tour-sort__price-box{
    position: absolute;
    top: 100%;
    right: 0;
    width: 171px;
    display: none;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.1);
}

.tour-sort__price-desc{
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
}
.tour-sort__price-desc:hover{
    color: var(--primary-color);
    background-color: var(--primary-bc);
}


/* Tour card */
.tour-detail{
    background-color: #fff;
    padding: 12px 4px;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tour-detail.hide{
    display: none;
}

.tour-detail-img-box{

}
.tour-detail__img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: scale(1) ;
    transition: all 0.3s ease;
}
.tour-detail:hover .tour-detail-img-box .tour-detail__img:{
    transform: scale(1.05);
}
.tour-detail__title{
    line-height: 1.2;
    color: var(--third-color);
    text-decoration: none;
    padding-right: 8px;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    transition: all 0.3s ease;
}
.tour-detail__title:hover{
    color: var(--primary-color);
}

.tour-detail__desc{
    margin-top: 8px;
    margin-bottom: 12px;
}
.tour-detail__info{
    color: var(--text-color);
    font-size: 1.4rem;
}
.tour-detail-info{
    margin-right: 16px;
}
.tour-detail__notice{
    width: 80%;
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.tour-detail__notice-item{
    font-size: 1.4rem;
    padding: 0;
    color: var(--primary-color);
}
.tour-detail__para{
    text-align: right;
}
.tour-detail__time-start{
    font-size: 1.4rem;
    color: var(--text-color);
}
.tour-detail__price{
    font-size: 2.2rem;
    font-weight: 600;
    color: #f68e4b
}
.tour-detail__more-btn{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
}
.tour-detail__more-btn:hover{
    opacity: 0.7;
}

